django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
python-dotenv
Pillow
psycopg2-binary  # Comment out if you not using PostgreSQL for DB
# mysqlclient      # Uncomment for MySQL
dj-database-url
whitenoise
gunicorn
waitress
